@font-face {
    font-family: 'lobster';
    src: url(Lobster/Lobster-Regular.ttf) format('truetype');
}

header {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}

footer {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

header {
    font-family: lobster;
}

#hpcontent {
    background-color: lightgray;
}
